Source: jitsi-upload-integrations
Maintainer: dev@jitsi.org
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: jitsi-upload-integrations
Architecture: all
Depends: curl
Description: jitsi-upload-integrations
 Tools for uploading assets, meant for use with jibri or jigasi when sending media assets to 3rd party services such as DropBox
